*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
    padding: 0 !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/* nav part start */
.navbar-toggler-icon{
    background: url(../Photos/project-06-10-page/bar.png) no-repeat center / cover;
}
.menu-bg{
    background-color: #1C1E53;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
}
.menu-bg ul li a{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding: 0 20px !important;
    text-transform: capitalize;
}
.menu-button{
    margin-left: 40px;
}
.menu-button a{
    color: #FFF;
    font-family:"Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 40px;
    border-radius: 40px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.menu-button a:hover{
    background-color: #FCD980;
}
/* nav part end */




/* contact form part start */
#contact{
    padding: 128px 0;
}
.contact-head h2{
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
}
.contact-head p{
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 64px;
}
.contact-form{
    padding: 55px 77px 69px 77px;
    background-color: #F4F6FC;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.contact-form label{
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    padding-bottom: 6px;
}
.contact-form ::placeholder{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.contact-form input{
    gap: 10px;
    padding: 18px 32px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: transparent;
    outline: none;
    width: 438px;
    margin-bottom: 24px;
}
.text-area textarea{
    padding: 18px 32px;
}
.text-area textarea{
    height: 138px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    resize: none;
    outline: none;
    background-color: transparent;
    margin-bottom: 32px;
}
.contact-form button{
    color:  #F4F6FC;
    font-family: Manrope;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    display: inline-block;
    padding: 16px 64px;
    border-radius: 41px;
    background: var(--Dark-blue, #282938);
    transition: 0.6s;
    border: none;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.contact-form button:hover{
    background-color: #FCD980;
    color: #fff;
}
/* contact form part end */




/* footer part start */
footer{
    background-color: #1C1E53;
    padding-top: 96px;
}
.footer-left p{
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 22px;
    padding-bottom: 86px;
    opacity: 0.8;
}
.footer-left-bottom{
    display: flex;
    padding: 18px 100px 16px 37px;
    background-color: #FCD980;
}
.footer-left-bottom1 h3{
    color: #282938;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1px;
}
.footer-left-bottom1 a{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    padding-right: 29px;
}
.footer-right h2{
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 14px;
}
.footer-right p{
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 28px;
    opacity: 0.8;
}
.footer-right a{
    font-size: 26px;
    color: #fff;
    margin-right: 27px;
}
#footer-menu{
    padding: 32px 0;
    background-color: #fff;
}
.fm-left p{
    text-align: center;
}
.fm-right ul{
    display: flex;
}
.fm-right ul li a{
    margin-left: 25px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}
/* footer part end */







/* responsive part start */


/* xs part start */
@media(max-width:575px){
    .offcanvas-header {
        color: #fff;
        background-color: gray;
        padding-left: 35px !important;
    }
    .offcanvas-body{
        background-color: #1C1E53;
    }
    .nav-link{
        margin-bottom: 20px;
    }
    .nav-link:hover{
        color: #fff;
    }
    .menu-button {
        margin-left: 23px;
    }
    .menu-button a {
        padding: 0;
        border: none;
    }
    .menu-button a:hover{
        background-color: transparent;
    }
    #contact {
        padding: 120px 0 35px 0;
    }
    .contact-head h2 {
        font-size: 24px;
        line-height: 0;
        padding-bottom: 10px;
    }
    .contact-head p {
        font-size: 12px;
        line-height: 20px;
        padding-bottom: 0;
    }
    .contact-form {
        padding: 10px 10px 20px 10px;
        text-align: center;
    }
    .contact-form label {
        font-size: 12px;
    }
    .contact-form input {
        width: 100%;
        padding: 15px 22px;
        margin-bottom: 6px;
    }
    .contact-form textarea{
        padding: 15px 22px;
        margin-bottom: 15px;
    }
    .contact-form button{
        font-size: 12px;
        padding: 5px 30px;
        line-height: 32px;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-left p {
        line-height: 17px;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-left-bottom {
        margin-bottom: 20px;
        padding: 5px;
    }
    .footer-left-bottom1 h3{
        font-size: 12px;
    }
    .footer-left-bottom1 a{
        font-size: 12px;
    }
    .fm-left p{
        text-align: center;
    }
    .footer-right h2{
        font-size: 24px;
        padding-bottom: 10px;
    }
    .footer-right p{
        font-size: 12px;
        line-height: 18px;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul li a {
        margin: 0 10px;
        font-size: 14px;
    }
}
/* xs part end */





/* sm part start */
@media(min-width:576px) and (max-width:767px){
    .offcanvas-header {
        color: #fff;
        background-color: gray;
        padding-left: 35px !important;
    }
    .offcanvas-body{
        background-color: #000;
    }
    .nav-link{
        margin-bottom: 20px;
    }
    .nav-link:hover{
        color: #fff;
    }
    .menu-button {
        margin-left: 23px;
    }
    .menu-button a {
        padding: 0;
        border: none;
    }
    .menu-button a:hover{
        background-color: transparent;
    }
    #contact {
        padding: 128px 0 45px 0;
    }
    .contact-head p {
        padding-bottom: 7px;
    }
    .contact-form {
        padding: 30px;
        text-align: center;
    }
    .contact-form label {
        font-size: 15px;
    }
    .contact-form input {
        padding: 15px 32px;
        margin-bottom: 6px;
        width: 100%;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-left p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-left-bottom {
        margin-bottom: 51px;
        padding: 20px;
    }
    .fm-left p{
        text-align: center;
    }
    .fm-right ul {
        display: flex;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul li a {
        margin: 0px 20px 0 0;
        font-size: 14px;
    }
}
/* sm part end */




/* md part start */
@media(min-width:768px) and (max-width:991px){
    .offcanvas-header {
        color: #fff;
        background-color: gray;
        padding-left: 35px !important;
    }
    .offcanvas-body{
        background-color: #1C1E53;
    }
    .nav-link{
        margin-bottom: 20px;
    }
    .nav-link:hover{
        color: #fff;
    }
    .menu-button {
        margin-left: 23px;
    }
    .menu-button a {
        padding: 0;
        border: none;
    }
    .menu-button a:hover{
        background-color: transparent;
    }
    #contact {
        padding: 140px 0 70px 0;
    }
    .contact-head h2{
        font-size: 55px;
        padding-bottom: 20px;
    }
    .contact-head p {
        padding-bottom: 15px;
    }
    .contact-form {
        padding: 30px;
        text-align: center;
    }
    .contact-form label {
        font-size: 20px;
    }
    .contact-form input {
        padding: 15px 32px;
        margin-bottom: 36px;
        width: 100%;
        font-size: 20px;
        font-family: Poppins;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-left p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-left-bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 51px;
        padding: 20px;
    }
    .fm-left p{
        text-align: center;
        opacity: 0.7;
    }
    .fm-right ul {
        display: flex;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul li a {
        margin: 0 15px;
        font-size: 18px;
    }
} 
   /* md part end */
/* responsive end */