*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
    padding: 0 !important;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}
/* nav part start */
.navbar-toggler-icon{
    background: url(../Photos/project-06-10-page/bar.png) no-repeat center / cover !important;
}
.menu-bg{
    background-color: #1C1E53;
    position: fixed;
    width: 100%;
    height: 60px;
    align-items: center;
}
.menu-bg ul li a{
    color: #FFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px; 
    padding: 0 20px !important;
    text-transform: capitalize;
}
.menu-button{
    margin-left: 40px;
}
.menu-button a{
    color: #FFF;
    font-family:"Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 16px 40px;
    border-radius: 40px;
    border: 2px solid rgba(244, 246, 252, 0.20);
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.menu-button a:hover{
    background-color: #FCD980;
}
/* nav part end */



/* blog banner part start */
#blog-banner{
    padding: 128px 0 48px 0;
}
.ban-blog-head h2{
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    padding-bottom: 16px;
}
.ban-blog-head p{
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 32px;
}
/* blog banner part end */


/* blog content start */
#content{
    padding-bottom: 88px;
}
.blog-content h2{
    color: #282938;
    font-family: Poppins;
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    padding-bottom: 32px;
}
.blog-content p{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 40px;
    opacity: 0.7;
}
.blog-content ul{
    list-style: circle;
    padding-bottom: 32px;
}
.blog-content ul li{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 12px;
    opacity: 0.7;
}
/* blog content end */




/* footer part start */
footer{
    background-color: #1C1E53;
    padding-top: 96px;
}
.footer-left p{
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 22px;
    padding-bottom: 86px;
    opacity: 0.8;
}
.footer-left-bottom{
    display: flex;
    padding: 18px 100px 16px 37px;
    background-color: #FCD980;
}
.footer-left-bottom1 h3{
    color: #282938;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 1px;
}
.footer-left-bottom1 a{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.8;
    padding-right: 29px;
}
.footer-right h2{
    color: #fff;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 14px;
}
.footer-right p{
    color: #fff;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 28px;
    opacity: 0.8;
}
.footer-right a{
    font-size: 26px;
    color: #fff;
    margin-right: 27px;
}
#footer-menu{
    padding: 32px 0;
    background-color: #fff;
}
.fm-left p{
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.9;
}
.fm-right ul{
    display: flex;
}
.fm-right ul li a{
    margin-left: 25px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
}
/* footer part end */






/* responsive part start */

/* xs part start */
@media(max-width:575px){
    .offcanvas-header {
        color: #fff;
        background-color: gray;
        padding-left: 35px !important;
    }
    .offcanvas-body{
        background-color: #1C1E53;
    }
    .nav-link{
        margin-bottom: 20px;
    }
    .nav-link:hover{
        color: #fff;
    }
    .menu-button {
        margin-left: 23px;
    }
    .menu-button a {
        padding: 0;
        border: none;
    }
    .menu-button a:hover{
        background-color: transparent;
    }
    #blog-banner {
        padding: 120px 0 35px 0;
    }
    .ban-blog-head h2 {
        text-align: start;
        font-size: 16px;
        line-height: 23px;
        padding-bottom: 10px;
    }
    .ban-blog-head p {
        font-size: 12px;
        line-height: 0;
        padding-bottom: 5px;
    }
    .blog-content h2 {
        text-align: center;
        font-size: 15px;
        line-height: 20px;
        padding-bottom: 1px;
    }
    .blog-content p {
        text-align: start;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 0px;
    }
    #content {
        padding-bottom: 15px;
    }
    .blog-content ul {
        list-style: none;
    }
    .blog-content ul li {
        font-size: 10px;
        line-height: 15px;
        padding-bottom: 0px;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-left p {
        line-height: 17px;
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .footer-left-bottom {
        margin-bottom: 20px;
        padding: 5px;
    }
    .footer-left-bottom1 h3{
        font-size: 12px;
    }
    .footer-left-bottom1 a{
        font-size: 12px;
    }
    .fm-left p{
        text-align: center;
    }
    .footer-right h2{
        font-size: 24px;
        padding-bottom: 10px;
    }
    .footer-right p{
        font-size: 12px;
        line-height: 18px;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul li a {
        margin: 0 10px;
        font-size: 14px;
    } 
}
/* xs part end */





/* sm part start */
@media(min-width:576px) and (max-width:767px){
    .offcanvas-header {
        color: #fff;
        background-color: gray;
        padding-left: 35px !important;
    }
    .offcanvas-body{
        background-color: #000;
    }
    .nav-link{
        margin-bottom: 20px;
    }
    .nav-link:hover{
        color: #fff;
    }
    .menu-button {
        margin-left: 23px;
    }
    .menu-button a {
        padding: 0;
        border: none;
    }
    .menu-button a:hover{
        background-color: transparent;
    }
    #blog-banner {
        padding: 128px 0 35px 0;
    }
    .ban-blog-head h2 {
        font-size: 29px;
        line-height: 35px;
        padding-bottom: 1px;
    }
    .ban-blog-head p {
        padding-bottom: 0px;
    }
    .blog-content{
        text-align: center;
    }
    .blog-content h2 {
        font-size: 25px;
        line-height: 33px;
        padding-bottom: 1px;
    }
    .blog-content p {
        text-align: start;
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 0px;
    }
    #content {
        padding-bottom: 25px;
    }
    .blog-content ul {
        list-style: none;
    }
    .blog-content ul li {
        font-size: 15px;
        line-height: 22px;
        padding-bottom: 0px;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-left p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-left-bottom {
        margin-bottom: 51px;
        padding: 20px;
    }
    .fm-left p{
        text-align: center;
    }
    .fm-right ul {
        display: flex;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul li a {
        margin: 0px 20px 0 0;
        font-size: 14px;
    }
}
/* sm part end */




/* md part start */
@media(min-width:768px) and (max-width:991px){
    
    .offcanvas-header {
        color: #fff;
        background-color: gray;
        padding-left: 35px !important;
    }
    .offcanvas-body{
        background-color: #1C1E53;
    }
    .nav-link{
        margin-bottom: 20px;
    }
    .nav-link:hover{
        color: #fff;
    }
    .menu-button {
        margin-left: 23px;
    }
    .menu-button a {
        padding: 0;
        border: none;
    }
    .menu-button a:hover{
        background-color: transparent;
    }
    .ban-blog-head h2 {
        font-size: 39px;
        line-height: 55px;
    }
    #content {
        padding-bottom: 10px;
    }
    .blog-content p {
        padding-bottom: 16px;
    }
    footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-left p {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .footer-left-bottom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 51px;
        padding: 20px;
    }
    .fm-left p{
        text-align: center;
        opacity: 0.7;
    }
    .fm-right ul {
        display: flex;
        justify-content: center;
        margin: 20px 0 0 0;
    }
    .fr-icon{
        text-align: center;
    }
    .fm-right ul li a {
        margin: 0 15px;
        font-size: 18px;
    }
}
/* md part end */




/* lg part start */
@media(min-width:992px) and (max-width:1200px){
    .ban-blog-head h2 {
        font-size: 34px;
        line-height: 57px;
    }
    #content {
        padding-bottom: 65px;
    }
    .footer-left-bottom {
        padding: 18px 0 16px 18px;
    }
    .footer-left-bottom1 a {
        padding-right: 22px;
    }
    .fm-right ul li a {
        margin: 0 9px;
    }
    .fm-left p {
        font-size: 14px;
    }
}
/* lg part end */




/* xl part start */
@media(min-width:1201px) and (max-width:1399px){
    .box h3 {
        font-size: 19px;
    }
    .contact-text {
        padding: 50px 30px 0 50px;
    }
    .contact-item {
        padding: 96px 96px 0 96px;
    }
    .footer-left-bottom {
        padding: 18px 40px 16px 37px;
    }
}
/* xl part end */
/* responsive end */